
<h2 class="text-warning">Exámenes: <%=@subject.name%></h2>
<h4 class="text-warning">Maestro/a: <%= @subject.teacher.name %> </h4>


      
<% if @quizzes.empty? %>
  <p>No hay examenes disponibles.</p>
<% else %>
  <ul>
    <% @quizzes.each do |quiz| %> 
      <li>
        <%= quiz.title %> <%= link_to "Hacer exámen", "#" %>

      </li>
    <% end %>
  </ul>
<% end %>

