<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">


<div class="container mt-5">
  <div class="grid">
    <svg class="grid-svg" xmlns="http://www.w3.org/2000/svg" width="982" height="786" viewBox="0 0 982 786" fill="none">
      <!-- Contenido SVG -->
    </svg>
    <div class="blur"></div>
  </div>

  <hr class="sin-color">
  <hr class="sin-color">
  <hr class="sin-color">

  <div class="card wow-bg">
    <div class="card-body" id="formBg">
      <h2 class="text-white text-center mb-4">¡Preguntas Frecuentes!</h2>
      <hr class="sin-color">

      <div class="faq-item">
        <h5 class="text-white">¿Qué beneficios ofrece esta plataforma a las escuelas?</h5>
        <p class="text-white">Permite a las escuelas optimizar la creación de exámenes, ahorrando tiempo y recursos. Además, proporciona una evaluación más precisa y personalizada para los alumnos.</p>
        <hr class="sin-color">
      </div>

      <div class="faq-item">
        <h5 class="text-white">¿Cómo puedo personalizar los exámenes para mis alumnos?</h5>
        <p class="text-white">Los maestros pueden personalizar los exámenes ajustando parámetros como el nivel de dificultad, el número de preguntas y los temas específicos que desean incluir.</p>
        <hr class="sin-color">
      </div>

      <div class="faq-item">
        <h5 class="text-white">¿Puedo revisar y editar los exámenes generados por la inteligencia artificial?</h5>
        <p class="text-white">Sí, los maestros tienen la capacidad de revisar y editar los exámenes generados antes de asignarlos a los alumnos.</p>
        <hr class="sin-color">
      </div>

      <div class="faq-item">
        <h5 class="text-white">¿Cómo acceden los alumnos a sus exámenes?</h5>
        <p class="text-white">Los alumnos pueden acceder a sus exámenes a través de una interfaz amigable en línea. Se les proporciona un enlace o acceso directo desde el portal de la escuela.</p>
        <hr class="sin-color">
      </div>

      <h4 class="text-white text-justify">Ofrecemos una experiencia educativa emocionante. Nos apasiona facilitar el proceso de aprendizaje y potenciar a profesores y alumnos para que alcancen nuevas alturas.</h4>
    </div>
  </div>

  <hr class="sin-color">
  <hr class="sin-color">
</div>
