<%# app/views/take_quizzes/new.html.erb %>
<h1>Selecciona un examen para tomar</h1>

<%= form_with(model: @take_quiz, url: quiz_take_quizzes_path(@quiz), method: :post, local: true) do |form| %>
  <%= form.hidden_field :quiz_id, value: @quiz.id %>

  <div class="actions">
    <%= form.submit 'Empezar Examen', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Volver', quizzes_path, class: 'btn btn-secondary' %>
